.fundoplano {
    border-radius: 36px;
    border: 2px solid #66C2FA;
    background: rgba(20, 19, 1, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    width: 80%;
    margin-top: 50px;
    height: 950px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: "DM Sans";
}

.benebox {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.fundoplano h1 {
    margin-top: 20px;
}


.preco1 {
    color: #13ECAB;
    margin-top: 174px;
}

.preco2 {
    color: #C24361;
    margin-top: 112px;
}

.preco3 {
    color: #66C2FA;
    margin-top: 50px;
}

.homeplanopai {
    display: flex;
    width: 1400px;
    height: 367px;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    margin: auto;
    margin-bottom: 200px;
    border: 2px solid #66C2FA;
    border-radius: 20px;
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
}

.conhecaplano {
    position: relative;
    width: 474px;
    height: 117px;
    
    align-items: center;
    border-radius: 36px;
    border: 2px solid #66C2FA;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    margin:auto;
    color:white;
}