.CaixaPreta {
  padding: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.28);
  margin-top: 40px;
  margin-left: 80px;
  font-weight: bold;
  transition: transform 0.3s ease, text-decoration 0.3s ease;
}

.CaixaPreta p {
  color: #a367eb;
  font-size: 34px;
  /* padding-left: 50px;
  padding-top: 10px; */
}

.boxpreto1 {
  width: 600px;
}

.boxpreto1:hover {
  background-color: #a367eb;
  cursor: pointer;
  transform: scale(1.1);
  p {
    color: white;
  }
}

.boxpreto2:hover {
  background-color: #a367eb;
  cursor: pointer;
  transform: scale(1.1);
  p {
    color: white;
  }
}

.boxpreto3:hover {
  background-color: #a367eb;
  cursor: pointer;
  transform: scale(1.1);
  p {
    color: white;
  }
}

.bozx .boxpreto2 {
  width: 500px;
}

.boxpreto3 {
  width: 400px;
}
