.containerComunidadeVisao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    gap: 2vh;
}

.Bloco{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 79%;
    min-height: 100vh;
}

.blocoInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
}

.BannerIMG{
    margin-top: 2vh;
    width: 90%;
    height: 200px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ContainerSecondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 100vh;
}

.containeFeedComunity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 20px;
    padding-left: 60px;
}

.ContentIntern{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 40px;
    width: 50%;
    gap: 5vh;
    height: 50vh;
}

.DescricaoComunidade{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f0f8ff;
    gap: 10px;
    width: 90%;
    height: 55vh;
    padding: 10px 20px;
    border-radius: 20px 20px 40px 20px;
}

.containerQuantidadeMembros{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.QuantidadeMembros{
    background-color: #A367EB;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}


.TituloDescricaoComunidade{
    font-size: 2.5rem;
}

.DescricaoText{
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.ContainerAutorVisibilidade{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

.ContainerIcones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.IconesDescriptionComunidade{
    width: 25px;
    height: 25px;
}

.ComponentePost{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 10px 20px;
    gap: 2vh;
    border-radius: 20px 40px 20px 20px;
}

.ComponentePost img{
    margin-top: 2vh;
    width: 40px;
    height: 40px;
}

.ComponentePost p{
    font-size: 1.4rem;
    padding: 2px 10px;
    background-color: #A367EB;
    width: 75%;
    height: 5vh;
    border-radius: 5px;
}

.containerFeed {
    width: 80%;
    height: auto;

}

.feedprincipal {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
}

.headerlateral{
    width: 32%;
    height: 30vh;
}


.ContaineFeedComunity{
    width: 60%;
    
}

