.ContainerPost{
    display: flex;
    color: #fff;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #fff;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 55vh;
    padding: 20px 40px;
    gap: 2vh;
}

.ContainerProfile{
    display: flex;
    justify-content: center;
    align-self: start;
    gap: 10px;
}

.ContainerProfile img{
    width: 40px;
    height: 40px;
}

.Hours{
    color: #A367EB;
}

.DescriptionPost{
    max-width: 80%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
}

.IMGPost{
    width: 450px;
    height: 30vh;
}