.SobreAluno {
    width: 50%;
    height: 200vh;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Titulo_sobre {
    color: rgba(240, 240, 240, 0.80);
    font-family: "DM Sans";
    font-size: 40px;
    line-height: normal;
    margin-left: 50px;
}
.Titulo_sobre2 {
    color: rgba(240, 240, 240, 0.80);
    font-family: "DM Sans";
    font-size: 40px;
    line-height: normal;
    margin-left: 50px;
}
.Titulo_sobre3 {
    color: rgba(240, 240, 240, 0.80);
    font-family: "DM Sans";
    font-size: 40px;
    line-height: normal;
    margin-left: 50px;
}

.Sobre {
    width: 90%;
    height: 31vh;
    background-color: aliceblue;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;

}

.SobreTexto {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
}

.TextoDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(240, 240, 240, 0.90);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Conteudo1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ButtonAlunos {
    width: 149px;
    height: 54px;
    border-radius: 36px;
    background: var(--Primria, #7400B7);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}

.Sobre2{
    width: 90%;
    height: 45vh;
    background-color: aliceblue;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.Titulo_Participacao{
    color: rgba(240, 240, 240, 0.80);
    font-family: "DM Sans";
    font-size: 40px;
    line-height: normal;
    margin-left: 50px;
}

.Titulo_caixa{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Habilidades{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}
.Habilidades_tag{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.participacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Titulo_caia{
    display: flex;
    flex-direction: row;
    align-items: center;
}