.ctnTtl{
    width: 300px;
    height: 75px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctnTtl p{
    color: #A367EB;
    font-size: 2rem;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}