.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    position: relative;
    bottom: 44%;
    right: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navBar{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ladoDireito{
    width: 80%;
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.empresa{
    font-size: 2rem;
    font-weight: bold;
    font-family: "DM Sans";
}


.topBarLeft{
    width: 35%;
    
}

.topBarRight{
    width: 65%;
}
