.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.ContainerIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add_profile{
    width: 40px;
    height: 40px;
}

img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}