@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.containerRecrutamento{
    width: 16rem;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-image: url(../../../assets/imgs/backgroundPlataform.png);
}

.logo{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoKathon{
    width: 60%;
    height: 3.4vh;
}

.ContainerLinksNav{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 100%;
    align-items: center;
    gap: 4vh;
}

.ContainerLinksNav a{
    width: 13rem;
    height: 3rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    text-decoration: none;
    transition: background 0.5s ease;
}

.icons{
    width: 25px;
    position: relative;
    top: 5px;
    object-fit: cover;
    object-position: center;
    height: 25px;
}

a span{
    color: #000000;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    width: 65%;
}

.ContainerLinksNav a:hover{
    background-color: #A367EB;
}
a:hover span{
    color: #fff;
}


