.card_pessoas {
  width: 100%;
  text-align: left;
  margin-left: 70px;
  p {
    width: 40%;
    color: rgba(240, 240, 240, 0.9);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}
