.HeaderComunidade{
    background-image: url(../../assets/imgs/BackgroundHeaderComunidade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 18%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 35px 0;
}

.LogoKathon{
    width: 50%;
    height: 25px;
    margin-top: 20px;
}

.Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    gap: 5vh;
}

.Links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    gap: 1vh;
    height: 25px;
}

.ContainerLinks{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3vh;
    padding-left: 5vh;
}

.Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px;
}

.BarraBottom{
    width: 65%;
    height: 0.5vh;
}
.containerProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    color: #fff;
}