.inputFormsLogin {
    border-radius: 24px;
    background: rgba(240, 240, 240, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(20px);
    padding: 0.5em 0.5em 0.5em 1em;
    width: 75%;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
}

.inputFormsLogin::placeholder {
    color: rgb(255, 255, 255); /* Altere para a cor desejada */
    opacity: 0.5; /* Define a opacidade se necessário */
  }

  .inputMaior, .inputMenor {
    width: 100%;
  }

  .inputMaior {
    
    margin-right: 0.5em;
  }

  /* .inputMenor{
   
  } */