.roxo{
    width: 149px;
    height: 50px;
    border-radius: 36px;
    background: var(--Primria, #7400B7);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

.azul{
    width: 250px;
    height: 50px;
    border-radius: 36px;
    background: var(--Secundria, #314CE7);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;

}

.lilas{
    width: 400px;
    height: 50px;
    border-radius: 36px;
    background: var(--Terciria-V, #A367EB);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

.lilas_p{
    width: 250px;
    height: 50px;
    border-radius: 36px;
    background: var(--Terciria-V, #A367EB);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

.ilustacao{
    width: 150px;
    height: 50px;
    border-radius: 36px;
    background: var(--Terciria-V, #A367EB);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

.comunicacao{
    width: 200px;
    height: 50px;
    border-radius: 36px;
    background: var(--Secundria, #314CE7);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;

}

.pesquisa{
    width: 150px;
    height: 50px;
    border-radius: 36px;
    background: var(--Secundria, #314CE7);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;

}

.usuario{
    width: 350px;
    height: 50px;
    border-radius: 36px;
    background: var(--Primria, #7400B7);
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}

    